// Spaces - scaled:
$size-xxxxs: 3px;
$size-xxxs: 6px;
$size-xxs: 8px;
$size-xs: 10px;
$size-s: 12px;
$size-m: 15px;
$size-l: 18px;
$size-xl: 24px;
$size-xxl: 32px;
$size-xxxl: 40px;

// Spaces - general:
$fatFinger: 20px;
$height-modal: 411px;
$margin-general: 30px;
$padding-capsule-desktop: 0 13px;
$padding-capsule-mobile: 0 7px;
