// Texts - font sizes:
$fontSize-xxxxs: 6px;
$fontSize-xxxs: 9px;
$fontSize-xxs: 10px;
$fontSize-xs: 12px;
$fontSize-s: 14px;
$fontSize-ms: 15px;
$fontSize-m: 16.5px;
$fontSize-ml: 18px;
$fontSize-l: 20px;
$fontSize-xl: 36px;
$fontSize-xxl: 56px;

// Texts - font weights:
$fontWeight-light: 100;
$fontWeight-normal: 260;
$fontWeight-medium: 400;
$fontWeight-semiBold: 500;
$fontWeight-bold: 600;

// Texts - letter spacings:
$letterSpacing-condensed: -1px;
$letterSpacing-normal: 0.5px;
$letterSpacing-expanded: 2px;
